.how-it-works-container {
    background-color: #ffffff;
    width: 60%;
    border: 1px solid #e0e0e0;
    padding: 50px;
  }
  
  .heading {
    font-size: 20px;
    font-weight: 700;
  }
  
  .description {
    color: #6f6f6f;
    font-size: 15px;
    font-weight: 400;
    margin-top: 12px;
  }
  
  .step {
    color: #a33b00;
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
  }
  
  .main-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 8px;
  }
  
  .content-title {
    color: #6f6f6f;
    font-size: 15px;
    font-weight: 400;
    margin: 12px 0px;
  }
  
  .list-item {
    color: #6f6f6f;
    font-size: 15px;
    font-weight: 400;
    margin: 4px 12px;
  }
  