.faq-container {

    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fdf7f5;
  }
  
  .faq-list {
    .faq-item {
      margin-bottom: 16px;
      border-radius: 8px;
      overflow: hidden;
      background-color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
      
      &.active {
        .faq-question {
          background-color: #f15642;
          color: white;
        }
      }
      
      .faq-question {
        padding: 16px 20px;
        font-size: 16px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
        
        &:hover {
          background-color:#c86558;
          color: white;
        }
        
        .icon {
          font-size: 20px;
          font-weight: 300;
        }
      }
      
      .faq-answer {
        padding: 20px;
        font-size: 14px;
        line-height: 1.6;
        color: #333;
        border-top: 1px solid #eee;
        background-color: #fff;
      }
    }


    .loadingDiv {
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 100px 0px;
    }
  }