

.terms-and-cond-policy-root {
    background-color: #ffffff;
    width: 70%;
    padding: 30px;
    margin: 50px auto;
    border: 1px solid #e0e0e0;
  
    @media (max-width: 768px) {
      width: 100%;
    //   padding: 20px;
    }
  }
  
  .terms-and-cond-policy-text {
    font-size: 15px;
    font-weight: 300;
    color: #6f6f6f;
    margin-bottom: 12px;
  }
  

  

  
  
  