
@use "../../../variables.scss" as *;
.header {
    background-color:$primary-bg; 
    padding: 12px 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    .logo {
      display: flex;
      align-items: center;
      gap: 8px;
  
      img {
        width: 32px;
        height: 32px;
      }
  
      span {
        font-weight: bold;
        font-size: 18px;
        color: #000;
      }
    }
  
    .location-section {
      display: flex;
      align-items: center;
      gap: 16px;
  
      .location_desk {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #A33B00;
  
        svg {
          margin-right: 4px;
          color: #ff5722;
        }
      }
  
      .locate-button {
        background-color: #ffffff;
       color: $primary-color;
       padding: 10px;
       border-radius: 20px;
       border:1px solid $primary-color;
       font-weight: 600;
       
      }
      @media (max-width:700px) {
        .location_desk{
          display: none;
        }
      }
      
    }
  
    @media (max-width: 466px) {
      justify-content: space-between;
    }
  }

  .location_mobile {
    display: none; // hide by default
  
    @media (max-width: 700px) {
      display: flex;
      justify-content: center;
      padding: 8px 8px;
      font-size: 14px;
      color: #A33B00;
      align-items: center;
  
      svg {
        margin-right: 4px;
        color: #ff5722;
      }
    }
  }

  .location-modal {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 500px;
  
    .location-title {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 8px;
    }
  
    .location-search {
      display: flex;
      align-items: center;
      background-color: #f7f7f7;
      padding: 10px 12px;
      border-radius: 6px;
      border: 1px solid #e0e0e0;
  
      .search-icon {
        margin-right: 8px;
        color: #555;
      }
  
      input {
        border: none;
        outline: none;
        width: 100%;
        font-size: 14px;
        background: transparent;
      }
    }
  
    .use-current-location {
      display: flex;
      align-items: center;
      background-color: #ffefe6;
      border: 1px solid #ffc2a1;
      padding: 12px;
      border-radius: 6px;
      cursor: pointer;
  
      .location-icon {
        color: $primary-color;
        font-size: 20px;
        margin-right: 12px;
      }
  
      .use-text {
        font-weight: 600;
        color: $primary-color;
        margin: 0;
      }
  
      .desc-text {
        margin: 0;
        color: #333;
        font-size: 14px;
      }
    }
  }
  
  