.store-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
  
    .back-arrow {
      position: absolute;
      left: 16px;
      cursor: pointer;
      color: #f36f21; // Orange arrow color
  
      &:hover {
        opacity: 0.8;
      }
    }
  
    .title {
      font-size: 18px;
      font-weight: 600;
      color: #1a2b4c; // Dark text color
      margin: 0;
    }
  }
  .data-content{
    margin: 0px 10%;
  }
  
  .category-wrapper {
    display: flex;
    justify-content: center; 
    padding: 6px 2px; 
  
    // Optional: to center vertically if needed
    // align-items: center;
    // min-height: 80vh;
  }
  // .live_title{
  //   margin-left:26%;
  // }
  .list_live{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 10px;
  }